
@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

<nav class="navbar navbar-expand fixed-top scrolling-navbar navbar-dark bg-light" id="top-bar">
    <ul class="nav navbar draggable">
        <li class="nav-item">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/Images/bespoke_events_logo2.png" width="105">
            </a>
        </li>
        <li class="nav-item @(ViewBag.Name == "Home" ? "active" : "")">
            <a class="nav-link @(ViewBag.Name == "Home" ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle @(ViewBag.Name == "Account" ? "active" : "")" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              @if (!SignInManager.IsSignedIn(User))
              {
                    <a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Forgot Password</a>
                }
                else
                {
                    <a class="dropdown-item" href="#">My Account</a>
                    <a class="dropdown-item" asp-controller="account" asp-action="ChangePassword">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                }
            </div>
        </li>

        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle @(ViewBag.Name == "Customer" ? "active" : "")" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Customer</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">My Events</a>
                    <a class="dropdown-item" href="#">Create Event</a>
                </div>
            </li>
        }
    </ul>
</nav>
