@model Events.Web.Models.LoginModel
@{
    ViewBag.Name = "Account";
}
@section styles {
    <link href="~/Styles/Lazy/user-forms.css" rel="stylesheet">
}
@section scripts {
    <script src="~/Bindings/Models/LoginModel.js" type="text/javascript"></script>
    <script src="~/Bindings/ViewModels/LoginViewModel.js" type="text/javascript"></script>
}
@section ko_apply {
    let viewModel = new Events.LoginViewModel('@Model.ReturnUrl');
    ko.applyBindingsWithValidation(viewModel, $("#login")[0], { insertMessages: false, messagesOnModified: false, grouping: { deep: true }});
}

<div id="login">
    <section class="form-simple draggable">
        <div class="card">
            <div class="header pt-3 grey lighten-2">
                <div class="row d-flex justify-content-start">
                    <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Login</h3>
                </div>
            </div>
            <div class="card-body mx-4 mt-4">
                <div data-bind="with: viewModel">

                    <div class="md-form">
                        <i class="fa fa-envelope-square prefix grey-text"></i>

                        <input data-bind="value: LoginEmail" type="text" class="form-control" placeholder="Login email">
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input data-bind="value: Password" type="password" class="form-control" placeholder="Password">
                        <p class="font-small grey-text d-flex justify-content-end">Forgot <a href="#" class="dark-grey-text font-bold ml-1"> Password?</a></p>
                    </div>

                    <label for="checkbox6" class="white-text">
                        <input type="checkbox" id="checkbox6" data-bind="checked: RememberMe">
                        <a class="dark-grey-text font-bold ml-1 font-small"> Remember me</a>
                    </label>

                    <div data-bind="loadingWhen: $parent.viewModelHelper.isLoading" class="text-center mb-4">
                        <button data-bind="click:$parent.login" type="button" class="btn green lighten-2 btn-block z-depth-2">Login</button>
                    </div>
                </div>
                <p class="font-small grey-text d-flex justify-content-center">Don't have an account? <a asp-action="Register" class="dark-grey-text font-bold ml-1"> Sign up</a></p>
            </div>
        </div>
    </section>
</div>
