@model Events.Web.Models.IndexModel
@{
    ViewBag.Name = "Home";
}
@section scripts {
    <script src="~/Bindings/Models/IndexModel.js" type="text/javascript"></script>
    <script src="~/Bindings/ViewModels/IndexViewModel.js" type="text/javascript"></script>
}
@section ko_apply {
    let eventsArray = @Json.Serialize(Model.Events);

    let viewModel = new Events.IndexViewModel(@Model.Page, eventsArray);
    ko.applyBindings(viewModel, $('#index')[0]);
}

<div id="index">
    <h1 align="middle"> Events </h1>
    <div data-bind="with: model" class="md-form col-md-4 draggable">
        <input data-bind="value: Date" type="text" id="date-picker" class="form-control datepicker">
        <label class="fa fa-calendar-minus-o" for="date-picker">&nbsp;&nbsp;Show after...</label>
    </div>

    <section data-bind="loadingWhen: viewModelHelper.isLoading">
        <div data-bind="visible: isVisible()">

            <div data-bind="foreach: model.Events">
                <div class="card draggable" style="width:31%; margin:1%; display:inline-block">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">

                    <div class="card-body">
                        <h5 data-bind="text: title" class="card-title"></h5>
                        <p data-bind="text: description.substring(0, 45) + '...'" class="card-text"></p>
                        <a href="#" class="btn btn-sm btn-primary">Show details</a>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="visible: !isVisible()">
            <span>No existing events after this date.</span>
        </div>
    </section>

    <br />
    <br />

    <section class="flex-center">
        <button data-bind="click: prevPage, enable: model.Page() > 0 && !viewModelHelper.isLoading()" class="btn btn-sm btn-blue-grey"><i style="font-size:17px">«</i>&nbsp;&nbsp;Prev</button>
        <button data-bind="click: nextPage, enable: model.Events().length == 6 && !viewModelHelper.isLoading()" class="btn btn-sm btn-blue">Next&nbsp;<i style="font-size:17px">»</i></button>
    </section>
</div>
